/koodi/viikko2/Verkkokauppa1/build/
/MockitoDemo/.nb-gradle/
/MockitoDemo/build/
/MatkakorttiMockito/.nb-gradle/
/MatkakorttiMockito/build/
/Verkkokauppa1/.nb-gradle/
/Verkkokauppa1/build/
/IntJoukkoSovellus/.nb-gradle/
/IntJoukkoSovellus/build/
/Tennis/.nb-gradle/
/Laskin/.nb-gradle/
/Laskin/build/
/QueryLanguage/.nb-gradle/
/QueryLanguage/build/
/KiviPaperiSakset/build/